* {
  background: #212529;
}

body {
  margin: 0;
 
}


nav {
  position: fixed;
}

.logo {
  width: 350px;
}

.home {
  height: 100vh;
}

.imptext {
  color: gold;
  font-weight: 600;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text {
  font-weight: 500;
  font-size: 1.2rem;
}

